body {
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #000;
}

p,
label {
  font-size: 16pt;
}

* {
  box-sizing: border-box;
}

header,
footer {
  background: #000;
}

header > div,
footer > div {
  padding: 15px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

header h1 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.container {
  border: 10px solid #ece819;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.index {
  text-align: center;
}

.full {
  padding: 30px;
  width: 100%;
}

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
}

.embed-half {
  float: left;
  padding: 0;
  width: 50%;
}

.right {
  text-align: right;
}

.btn-group {
  text-align: center;
  margin: 30px 0 50px 0;
}

form {
  padding-bottom: 0;
}

@media (min-width: 640px) {
  form {
    padding-bottom: 100px;
  }
}

.controls {
  text-align: center;
  position: relative;
}

@media (min-width: 640px) {
  .controls {
    position: absolute;
    text-align: left;
    bottom: 15px;
  }
}

.btn {
  background: #3c3c3c;
  border: 1px solid #3c3c3c;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  vertical-align: middle;
  white-space: nowrap;
}

.btn,
input[type="button"] {
  margin-top: 10px;
}

.btn:hover {
  background: #000;
  color: #ece819;
}

.btn:hover,
select:hover {
  cursor: pointer;
}

.btn-lg {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 24px;
}

.message {
  background: #eee;
  padding: 5px 15px;
}

.corect-answer {
  color: #008640;
  font-weight: bold;
}

select {
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.question {
  color: #000;
  font-weight: 600;
}

.answer {
  background: #97ffc8;
}

.error-color {
  color: #ac0300;
}

.success-color {
  color: #008640;
}

.copyright {
  color: #fff;
}
.copyright img {
  vertical-align: middle;
}

.design-radio {
  margin-top: 10px;
  position: relative;
  transition: 0.3s;
}

.design-radio:hover {
  background: #eee;
}

.design-radio__input {
  opacity: 0;
  left: -9999px;
  position: absolute;
  -webkit-appearance: none;
}

.design-radio__label {
  cursor: pointer;
  display: block;
  line-height: 24px;
  padding: 10px 0 10px 40px;
  position: relative;
}

.design-radio__label::before {
  background: #fff;
  border: 1px solid #3c3c3c;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 22px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 22px;
}

.design-radio__label::after {
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.design-radio__input:checked + .design-radio__label::after {
  background: #ea5533;
}
