<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISTQB Terms Test</title>
    <link rel="stylesheet" href="./newtest.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
</head>

<body>
    <div class="container" ng-app="testApp" ng-controller="testController">

        <!-- HEADER -->
        <header>
            <div class="header">
                <h1>{{ translate.title[language] }}</h1>
            </div>
        </header>

        <nav>
            <div class="menu clearfix">
                <div class="right">
                    <button class="btn btn-lg">{{ translate.restart[language] }}</button>
                </div>
            </div>
        </nav>

        <!-- MAIN -->
        <main>

            <div class="full">

                <div class="index" ng-show="started">
                    <h2>Új teszt / New test</h2>
                    <h3>
                        Válaszd ki a nyelvet!
                        <br> Choose language!
                    </h3>
                    <div class="btn-group">
                        <button class="btn btn-lg" ng-click="selectLanguage('hu')">Magyar</button>
                        <button class="btn btn-lg" ng-click="selectLanguage('en')">English</button>
                    </div>
                </div>

                <div class=" tests " ng-show="!started ">

                    <div class="message ">
                        <p>
                            <strong>{{ questionNumber }}</strong> /
                            <strong>{{ actualTestIndex }} </strong>{{ translate.actual[language] }}
                            <span class="corect-answer ">{{ rightAnswer }} </span> {{ translate.correct[language] }}
                        </p>
                    </div>

                    <div class="test ">
                        <p class="question ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores labore praesentium consectetur
                            odit, culpa dolor veniam tenetur reiciendis eveniet quos dicta. Fugiat, dicta rerum. Nisi eum
                            harum deleniti repellat?
                        </p>
                        <div class="design-radio ">
                            <input type="radio " name="test " class="design-radio__input " id="test1 ">
                            <label for="test1 " class="design-radio__label ">
                                Lorem 1
                            </label>
                        </div>

                        <div class="design-radio ">
                            <input type="radio " name="test " class="design-radio__input " id="test2 ">
                            <label for="test2 " class="design-radio__label ">
                                Lorem 2
                            </label>
                        </div>

                        <div class="design-radio ">
                            <input type="radio " name="test " class="design-radio__input " id="test3 ">
                            <label for="test3 " class="design-radio__label ">
                                Lorem 3
                            </label>
                        </div>

                        <div class="design-radio ">
                            <input type="radio " name="test " class="design-radio__input " id="test4 ">
                            <label for="test4 " class="design-radio__label ">
                                Lorem 4
                            </label>
                        </div>
                    </div>
                    <div class="btn-group ">
                        <button class="btn btn-lg " ng-click="flipTest() ">{{ translate.next[language] }}</button>
                    </div>
                </div>

            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            <div class="copyright "> 2017 Yellowroad | Powered by
                <a href="https://training360.com " target="_blank ">
                    <img src="./img/training360-logo.png ">
                </a>
            </div>
        </footer>
    </div>

    <script>
        var app = angular.module('testApp', []);
        app.controller("testController ", function ($scope, $http) {
            $scope.started = false;
            $scope.questionNumber = 20;
            $scope.rightAnswer = 0;
            $scope.actualTestIndex = 1;
            $scope.jsonData;
            $scope.language = 'hu';
            $scope.translate = {
                title: {
                    hu: 'ISTQB Terms Test',
                    en: 'ISTQB Terms Test'
                },
                description: {
                    hu: "Leírás ",
                    en: "Description "
                },
                answer: {
                    hu: 'Következő',
                    en: 'Next'
                },
                restart: {
                    hu: 'Újraindítás',
                    en: 'Restart'
                },
                next: {
                    hu: 'Következő',
                    en: 'Next'
                },
                actual: {
                    hu: 'kérdés megválaszolva,',
                    en: ' question(s) answered,'
                },
                correct: {
                    hu: ' helyes válasz.',
                    en: ' corect answer(s).'
                },
                jsonError: {
                    hu: 'Hiba történt!',
                    en: 'Something went wrong!'
                }
            };

            $scope.selectLanguage = function (lang) {
                $scope.language = lang;

                var requestPath = './';
                var files = {
                    hu: 'huterms.json',
                    en: 'terms.json'
                };

                if ($scope.language == 'hu') {
                    requestPath += path.hu;
                } else {
                    requestPath += path.en;
                }
                $http.get(requestPath)
                    .then(function (response) {
                        $scope.jsonData = response.data;
                    }, function (response) {
                        $scope.jsonData = "Something went wrong";
                    });
            }

            $scope.flipTest = function () {
                $scope.actualTestIndex++;
            }
        });
    </script>
</body>

</html>