<div class="tests">

    <div class="message" ng-show="started">
        <p>
            <strong>{{ numberOfQuestions }}</strong> /
            <strong>{{ actualTestIndex }} </strong>{{ translate('actual') }}
            <span class="corect-answer">{{ rightAnswer }} </span> {{ translate('correct') }}
        </p>
    </div>

    <div class="test" ng-repeat="test in testQuestions" ng-show="actualTestIndex==$index && started">
        <p class="question">
            {{ test.question }}
        </p>
        <div class="design-radio" ng-repeat="answer in test.answers">
            <input type="radio" name="test{{$parent.$index}}" class="design-radio__input" id="test{{$parent.$index}}{{$index}}" value="{{answer}}"
                ng-click="setUserAnswer(answer)">
            <label for="test{{$parent.$index}}{{$index}}" class="design-radio__label">
                {{ answer }}
            </label>
        </div>
    </div>

    <div class="btn-group next" ng-show="started && actualTestIndex < numberOfQuestions">
        <button class="btn btn-lg" ng-click="checkAnswer()">{{ translate('next') }}</button>
    </div>

</div>