<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Locations</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

<div class="container">

    <h1>Locations</h1>

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Coordinates</th>
            <th>Interesting at</th>
            <th>Tags</th>
        </tr>

        <tbody>
        <th:block th:each="location : ${page.content}">
            <tr>
                <td th:text="${location.id}"></td>
                <td th:text="${location.name}"></td>
                <td th:text="${location.lat + ',' + location.lon}"></td>
                <td th:text="${location.interestingAt}"></td>
                <td th:text="${location.tags}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}">Saved</div>

    <form th:action="@{/server}" th:object="${createLocationCommand}" method="post">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" th:field="*{name}" id="nameInput" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
            <div class="invalid-feedback"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
                Incorrect
        </div>
        </div>
        <div class="form-group">
            <label for="coordsInput">Coordinates</label>
            <input type="text" th:field="*{coords}" id="coordsInput" class="form-control" th:classappend="${#fields.hasErrors('coords')} ? 'is-invalid'"/>
            <div class="invalid-feedback"
                  th:if="${#fields.hasErrors('coords')}"
                  th:errors="*{coords}">
            Incorrect
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Create location</button>
    </form>


</div>

</body>
</html>